# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\CIRILÃ0\Desktop\ENG COMP THE LAST\DEV FULL STACK\Github\EstudoHtmlCSS\Logica1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
